.form {
    max-width: 640px;
    margin: 0 auto;
}

.inputBox {
    display: flex;
    flex-direction: column;
}
.inputBox + .inputBox {
    margin-top: 32px;
}
.inputBox label {
    font-size: 20px;
    line-height: 32px;
    font-weight: 400;
    margin-bottom: 16px;
}
.inputBox input {
    width: 100%;
    font-size: 20px;
    line-height: 32px;
    font-weight: 400;
    padding: 16px 14px;
    border-radius: 8px;
    border: 1px solid #c4c4c4;
}
