.wrap {
    width: 100%;
    min-height: calc(100vh - 88px);
}
.keyvisiual {
    display: inline-block;
    width: 100%;
    min-height: 1092px;
    background-color: #1f1f1f;
    background-image: url("/images/keyvisual.png");
    background-position: bottom center;
    background-repeat: no-repeat;
}
.keyvisiualInner {
    margin: 150px auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
}
.keyvisiualInner h2 {
    color: #fff;
    font-size: 56px;
    margin-top: 32px;
    font-weight: 500;
    text-align: center;
}
.startBtn {
    border: none;
    outline: none;
    padding: 0 50px;
    height: 80px;
    border-radius: 100px;
    background-color: #2a2c3d;
    font-size: 24px;
    color: #fff;
    font-weight: 700;
    margin-top: 40px;
    cursor: pointer;
}
.sections {
    position: relative;
    padding: 260px 0 260px;
    overflow: hidden;
}
.section {
    position: absolute;
    top: 0;
    left: 0;
}
.sectionsInner {
    max-width: 1180px;
    padding: 0 20px;
    margin: 0 auto;
}
.sectionsInner section + section {
    margin-top: 240px;
}

.imagewrap {
    width: 100%;
    border-radius: 22px;
    overflow: hidden;
}
.imagewrap :global(img) {
    display: block;
}

.bottom {
    margin: 0 auto;
    text-align: center;
    margin-top: 260px;
}
.bottom h3 {
    font-size: 48px;
}
