@import "../../app/font.scss";

.wrap {
    width: 100%;
    min-height: calc(100vh - 88px);
}
.keyvisiual {
    display: inline-block;
    width: 100%;
    min-height: 1092px;
    background-color: var(--black-400);
    background-image: url("/images/keyvisual.png");
    background-position: bottom center;
    background-repeat: no-repeat;
}
.keyvisiualInner {
    margin: 150px auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
}
.keyvisiualInner {
    h2 {
        color: var(--gray-50);
        font-size: 56px;
        margin-top: 2rem;
        font-weight: 500;
        text-align: center;
    }
}
.startBtn {
    border: none;
    outline: none;
    padding: 0 50px;
    margin-top: 40px;
    border-radius: 100px;
    background-color: #2a2c3d;
    cursor: pointer;
    @include text_2xl(700);
    color: var(--gray-50);
}
.sections {
    position: relative;
    padding: 260px 0 260px;
    overflow: hidden;
}
.section {
    position: absolute;
    top: 0;
    left: 0;
}
.sectionsInner {
    max-width: 1180px;
    padding: 0 20px;
    margin: 0 auto;
}
.sectionsInner {
    section {
        & + section {
            margin-top: 240px;
        }
    }
}

.imagewrap {
    width: 100%;
    border-radius: 22px;
    overflow: hidden;
}
.sectionImg {
    width: 100%;
    height: auto;
}
.imagewrap {
    :global(img) {
        display: block;
    }
}

.bottom {
    margin: 0 auto;
    text-align: center;
    margin-top: 260px;
}
.bottom {
    h3 {
        font-size: 48px;
    }
}
