:root {
    /* Black Scale */
    --black-100: #6b6b6b;
    --black-200: #525252;
    --black-300: #373737;
    --black-400: #1f1f1f;
    --black-500: #040404;

    /* Grayscale */
    --gray-50: #ffffff;
    --gray-100: #dedede;
    --gray-200: #c4c4c4;
    --gray-300: #ababab;
    --gray-400: #999999;
    --gray-500: #808080;

    /* Primary-Orange */
    --orange-50: #fff7eb;
    --orange-100: #fcc369;
    --orange-200: #fbaf37;
    --orange-300: #f89a05;
    --orange-400: #e18c05;

    /* Primary-Blue */
    --blue-100: #535779;
    --blue-200: #3e415b;
    --blue-300: #2a2c3d;

    /* Background */
    --bg-primary: #fcfcfc;
    --bg-secondary: #f7f7f7;
    --bg-tertiary: #efefef;
    --bg-white: #ffffff;

    /* Line */
    --line-primary: #f2f2f2;
    --line-secondary: #e6e6e6;

    /* State */
    --state-primary: #fc4100;
}

@font-face {
    font-family: "Pretendard";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
        format("woff");
    font-weight: 400;
    font-display: swap;
}

/* 글로벌 스타일 */
html,
body {
    font-family: "Pretendard", Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: var(--color-foreground);
    background-color: var(--color-background);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    max-width: 100vw;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}
