@import "../../app/font.scss";

.wrap {
    min-height: calc(100vh - 88px);
    padding: 100px 0;
    margin-top: 88px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login {
    text-align: center;
}
.title {
    @include text_3xl(600);
    color: var(--black-500);
}
.info {
    margin-top: 32px;
}
.info {
    p {
        @include text_xl(400);
        color: var(--black-100);
    }
}
.info {
    p {
        & + p {
            margin-top: 5px;
        }
    }
}
.signupLink {
    margin-left: 5px;
    text-decoration: underline;
    @include text_xl(700);
    color: var(--black-400);
}

.form {
    max-width: 640px;
    width: 100%;
    margin: 64px auto 0 auto;
}

.signBtn {
    margin-top: 50px;
}
